<!DOCTYPE html>
<html>
<head>
	<title>About</title>
	<link rel="icon" href="img/xmen.ico">
	<link rel="stylesheet" type="text/css" href="css/logan.css">
	<link rel="stylesheet" href="https://www.w3schools.com/lib/w3.css">
	<link href="https://fonts.googleapis.com/css?family=Exo+2" rel="stylesheet">
</head>
<body>
<div id="exo-italic" style="color:red"> About </div>
<ul>
<li><a class="active" href="/">Home</a></li>
						<li><a href="/about">About</a></li>
						<li><a href="/logan">Logan(2017)</a></li>
						<li><a href="/wolverine2013">The Wolverine (2013)</a></li>
						<li><a href="/wolverineorigins">X-Men Origins: Wolverine</a></li>
						<li><a href="/xmenlast">X-Men: Last Stand</a></li>
						<li><a href="/xmen">X-Men: First Class</a></li>
						<br>
						</ul>
<center><img id="myImg" src="img/ididit.jpg" height="500" width="900"/> </center><br>
<center><div id="extra-light" style="color:white"> This is a final requirement or should i also say the final exam in Web Development 1</div></center>
<center><div id="extra-light" style="color:white"> Developer: Christian Miguel Dorado </div></center>
<center><div id="extra-light" style="color:white"> Instructor: Chester Clyde Balaman </div></center>
</body>
</html>