<!DOCTYPE html>
<html>
<head>
	<title>X-Men: First Class</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="icon" href="img/xmen.ico">
	<link rel="stylesheet" type="text/css" href="css/logan.css">
	<link rel="stylesheet" href="https://www.w3schools.com/lib/w3.css">
	<link href="https://fonts.googleapis.com/css?family=Exo+2" rel="stylesheet">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body>
	
	<div id ="app"></div>
	<script type="text/javascript" src = "https://code.jquery.com/jquery-3.1.1.min.js"
	integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
	crossorigin="anonymous"></script>

	<script type="text/javascript" src = "javascript/xmen.js"></script>

</body>
</html>